#!/bin/bash

# Vars
#EXTERNAL_IP1_IF="ens18"
#EXTERNAL_IP1=$(ip  addr show dev $EXTERNAL_IP1_IF | grep -oE "[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}" | head -1)
#
#DOCKER_IP1_IF="docker0"
#DOCKER_IP1=$(ip  addr show dev $DOCKER_IP1_IF | grep -oE "[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}" | head -1)
#
#HOME_IP="85.218.182.3"

